{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 14
        }
      }
    ],
    [
      "minify",
      {
        "removeUndefined": false,
        "mangle": false
      }
    ]
  ]
}