{
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6
    },
    "parser": "@babel/eslint-parser",
    "plugins": [
        "ava",
        "@babel",
        "html",
        "markdown",
        "unicorn"
    ],
    "extends": [
        "plugin:ava/recommended",
        "plugin:unicorn/recommended",
        "xo",
        "xo-space"
    ],
    "rules": {
        "capitalized-comments": "off",
        "unicorn/no-reduce": "off"
    }
}
